<!--The whole content below can be removed with the new code.-->
<div style="text-align:center" id="grad">

  <div class="jumbotron">
    <h1>
    Welcome to {{title}}!!
  </h1>
  <img src="assets/images/ht_alex_trebek_mustache_jeopardy_1_jc_140911_16x9_992.jpg" class="img-circle" alt="Alex">
  </div>
  
  <h3>Category</h3> <span>{{question?.category?.title | titlecase}}</span>
  <h3>Points</h3> <span>{{question?.value }}</span>
  <h3>Question</h3> <span>{{question?.question | titlecase }}</span>
  

  <div>
    <div><textarea [(ngModel)]="enterAnswer" style="width:500px;height:100px;"></textarea></div>
    <div><button (click)="onClick()" id="submitButton" class="btn btn-primary btn-lg">Submit</button>
  </div>
  <h3>User's Score:</h3><span id="score">{{score}}</span>
  </div>

  <app-answer [answer]='answer'></app-answer>

 